/* ---------------template--------------- */
body,
h1, h2, h3, h4, h5, h6, p,
ol, ul, li {
  font-family: 'Montserrat Light',Montserrat,'Sawarabi Gothic',"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Yu Gothic UI","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ol, ul, li {
  list-style-type: none;
}
body {
  background-color: #FFFAFA;
  width: 100%;
}

@media (max-width: 1200px) {
body {
  width: 1200px;
}
}


/* ---------------header--------------- */

header {
  height :60px;
  background-color: #E6E6FA;
}
.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.header-logo {
  height: 60px;
  flex-grow: 1;
}
.oren-logo {
  height: 95%;
}
.header-list {
  display: flex;
}
.header-btn {
  width: 170px;
}
.header-btn > a {
  line-height: 60px;
  font-size: 30px;
  color: black;
}
.header-btn > a :hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn {
  padding: 0 15px;
  text-align: center;
}

/* ---------------main--------------- */

main {
  background-color: #FAFAFA;
}

/* ---------------main-top--------------- */

.main-top {
  width: 1000px;
  height: 220px;
  margin: 0 auto;
  display: flex;
}
.main-top-icon {
  padding: 10px;
}
.main-top-icon > img {
  border-radius: 50%;
  border: 8px solid gray;
}
.main-top-icon p {
  text-align: center;
}
.main-top-about {
  margin: auto;
  padding: 45px 290px 50px;
  background-image: url(https://raw.githubusercontent.com/MYIYM/ORNG_ALEN2/master/%E5%90%B9%E3%81%8D%E5%87%BA%E3%81%97-%E4%B8%B82.png);
  background-size: 795.45px 164px;
}
.main-top-about > p {
  font-size: 20px;
}

/* ---------------main-image--------------- */

.loop-image {
  position: relative;
  display: flex;
  width: 100vw;
  min-width: 1200px;
  margin: auto;
  flex-flow: row nowrap;
  overflow: hidden;
}
.loop-image ul {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
}
.loop-image li {
  display: inline-block;
  width: 1200px;
  text-align: center;
}
.loop-image img {
  width: 100%;
  height: auto;
}
@keyframes loop {
  0% {
    transform: translateX(400%);
  }
  to {
    transform: translateX(-400%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400%);
  }
}
.loop-image img:first-child {
  animation: loop 50s -25s linear infinite;
  backface-visibility: hidden;
  will-change: transform;
}
.loop-image img:last-child {
  animation: loop2 50s linear infinite;
}

/* ---------------main-main--------------- */

.main-main {
}
