body,
h1, h2, h3, h4, h5, h6, p,
ol, ul, li {
  font-family: 'Montserrat Light',Montserrat,'Sawarabi Gothic',"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Yu Gothic UI","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ol, ul, li {
  list-style-type: none;
}
body {
  background-color: #FFFAFA;
  width: 100%;
}
header {
  height :60px;
  background-color: #E6E6FA;
}
.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.header-logo {
  height: 60px;
  line-height: 100px;
  flex-grow: 1;
}
.oren-logo {
  height: 90%;
}

.header-right {
}
.header-list {
  display: flex;
}
.header-btn {
  width: 160px;
}
.header-btn > a {
  line-height: 60px;
  font-size: 30px;
  color: black;
}
.header-btn > a :hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn {
  padding: 0 15px;
  text-align: center;
}

@media (max-width: 1200px) {
body {
  width: 1200px;
}
header {
}

}
